{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/clojurescript {:mvn/version "1.12.145"}

        ;; Data
        metosin/malli {:mvn/version "0.20.1"}

        ;; Logging
        com.taoensso/timbre {:mvn/version "6.8.0"}}

 :aliases
 {:dev {:extra-paths ["dev" "test"]
        :extra-deps {cider/piggieback {:mvn/version "0.5.3"}}
        :main-opts ["-m" "nrepl.cmdline"
                    "--middleware" "[cider.piggieback/wrap-cljs-repl]"]}
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2026.05.25"}}
         :main-opts ["-m" "clj-kondo.main"]}}}
